<head>
  <!-- Meta data & title -->
  <meta charset="utf-8" />
  <title>{{ title or site.title }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta
    name="description"
    content="{{ description or site.description }}"
  />
  <meta name="author" content="DBML 2026 Organizing Committee" />

  <!-- Favicon -->
  <link rel="shortcut icon" href="/assets/ico/favicon.ico" />

  <!-- Fonts & CSS -->
  <link
    rel="stylesheet"
    href="https://fonts.googleapis.com/css?family=Open+Sans:400,300"
  />
  <link
    rel="stylesheet"
    href="https://fonts.googleapis.com/css?family=PT+Sans"
  />
  <link
    rel="stylesheet"
    href="https://fonts.googleapis.com/css?family=Raleway"
  />
  <link
    rel="stylesheet"
    href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
    crossorigin="anonymous"
  />
  <meta property="og:title" content="DBML 2026" />
  <meta property="og:description" content="5th International Workshop on Databases and Machine Learning" />
  <meta property="og:image" content="/dbml26/assets/images/banner.jpg" />
  <link rel="stylesheet" href="/dbml26/assets/css/style.css" />
</head>
