<div class="services-section">
  <div class="container">
    <div class="row text-left margin-top-2">
      <div class="col-md-12 text-center">
        <h2>Submission and Author Guidelines</h2>
      </div>

      <div class="col-md-12 margin-top-3">
        <div class="row pr-4 pl-5">
          <p>
            Submissions should be made electronically via the <a href="https://cmt3.research.microsoft.com/DBML2026">submission site</a>. Papers must be prepared in accordance with the <a href="https://www.ieee.org/conferences_events/conferences/publishing/templates.html" target="_blank">official IEEE conference templates</a>. Submitted papers must not exceed <strong>6 pages including references</strong>. No appendix is allowed. Only electronic submissions in PDF format will be accepted. Submissions will be reviewed in a single-blind manner.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
