<div class="services-section section-lgrey">
  <div class="container">
    <div class="row text-left margin-top-2">
      <div class="col-md-12 text-center">
        <h2>Organisation</h2>
      </div>

      <div class="col-md-12 margin-top-3">
        <div class="row pr-4 pl-5">
          <div class="col-lg-4 col-md-6">
            <div class="blockquote-box">
              <div class="square">
                <img src="/dbml26/assets/images/fatemeh.png" alt="Fatemeh Nargesian" class="person-image-24">
              </div>
              <h5>Fatemeh Nargesian</h5>
              <h6>University of Rochester</h6>
              <h6>Workshop Chair</h6>
            </div>
          </div>

          <div class="col-lg-4 col-md-6">
            <div class="blockquote-box">
              <div class="square">
                <img src="/dbml26/assets/images/guillaume.jpg" alt="Guillaume Lachaud" class="person-image-24">
              </div>
              <h5>Guillaume Lachaud</h5>
              <h6>École polytechnique</h6>
              <h6>Workshop Chair</h6>
            </div>
          </div>

          <div class="col-lg-4 col-md-6">
            <div class="blockquote-box">
              <div class="square">
                <img src="/dbml26/assets/images/jiwon.jpg" alt="Jiwon Chang" class="person-image-24">
              </div>
              <h5>Jiwon Chang</h5>
              <h6>University of Rochester</h6>
              <h6>Publicity Chair</h6>
            </div>
          </div>
        </div>

        <div class="row pr-4 pl-5 margin-top-4">
          <h4 class="col-md-12 text-center">Program Committee</h4>
          <p>The current program committee members are tentative.</p>
          <ul id="pc-members" class="col-md-12 centered-list">
            <li>Amine Mhedhbi - Polytechnique Montréal</li>
            <li>Gerardo Vitagliano - MIT CSAIL</li>
            <li>Roee Shraga - WPI</li>
            <li>Yiming Lin - UC Berkeley</li>
            <li>Yuyu Luo - HKUST (GZ)</li>
            <li>Steven Whang - KAIST</li>
            <li>Daphne Miedema - University of Amsterdam</li>
            <li>Sebastian Schelter - TU Berlin</li>
            <li>Jan-Christoph Kalo - University of Amsterdam</li>
            <li>Julien Romero - Telecom SudParis</li>
            <li>Antonios Georgakopoulos - University of Amsterdam</li>
            <li>Zhi Zhang - University of Amsterdam</li>
            <li>Madelon Hulsebos - CWI Amsterdam</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
