<div class="services-section">
  <div class="container">
    <div class="row text-left margin-top-2">
      <div class="col-md-12 text-center">
        <h2>Program</h2>
      </div>

      <div class="col-md-12 margin-top-3">
        <div class="row pr-4 pl-5 margin-top-4">
          <table class="table table-hover table-bordered table-sm text-center">
            <thead>
              <tr>
                <th scope="col" class="no-border">Time</th>
                <th scope="col" class="no-border">Activity</th>
                <th scope="col" class="no-border">Title</th>
                <th scope="col" class="no-border">Presenter</th>
              </tr>
            </thead>
            <tbody>
              <tr style="background-color: #f0f0f0;">
                <td>10:00&ndash;10:10</td>
                <td colspan="3" class="text-center">Greetings and Introduction</td>
              </tr>
              <tr>
                <td>10:10&ndash;10:55</td>
                <td>Invited Talk</td>
                <td></td>
                <td>Amir Shaikhha</td>
              </tr>
              <tr>
                <td>10:55&ndash;11:15</td>
                <td>Contributed Talk</td>
                <td>What Makes a Clustering Set Interesting?</td>
                <td>Georg Stefan Schlake</td>
              </tr>
              <tr>
                <td>11:15&ndash;12:00</td>
                <td>Invited Talk</td>
                <td></td>
                <td>Oana Balmau</td>
              </tr>
              <tr style="background-color: #f0f0f0;">
                <td>12:00&ndash;1:30</td>
                <td colspan="3" class="text-center">Lunch Break</td>
              </tr>
              <tr>
                <td>1:30&ndash;2:15</td>
                <td>Invited Talk</td>
                <td>Semantic Query Processing over Relations</td>
                <td>Amine Mhedhbi</td>
              </tr>
              <tr>
                <td>2:15&ndash;2:35</td>
                <td>Contributed Talk</td>
                <td>MatSQL: Accelerating Text-to-SQL via Database Schema Materialization</td>
                <td>Kyong-Shik Lee</td>
              </tr>
              <tr>
                <td>2:35&ndash;2:55</td>
                <td>Contributed Talk</td>
                <td>MACE: A Mamba-based Database-Agnostic Cost Estimator</td>
                <td>Pohsun An</td>
              </tr>
              <tr style="background-color: #f0f0f0;">
                <td>2:55&ndash;3:00</td>
                <td colspan="3" class="text-center">Wrap-up</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
